<div>
    <div class="container text-center mt-4">
        <div class="row justify-content-right">
            <div class="col-sm-12 col-md-4">
                <div class="input-group">
                    <input class="form-control form-control-lg" type="text" placeholder="Filtro 1"
                    aria-label=".form-control-lg example">
                    <span class="input-group-text transparent left-border-none"> <fa-icon [icon]="faBars"></fa-icon></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="input-group">
                    <input class="form-control form-control-lg" type="text" placeholder="Filtro 2"
                    aria-label=".form-control-lg example">
                    <span class="input-group-text transparent left-border-none"> <fa-icon [icon]="faBars"></fa-icon></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5 ">
        <div class="row form-group">
            <div class="col mb-5 cardContainer">
                <app-piece-card [allowEdit]="true"></app-piece-card>
            </div>
            <div class="col mb-5 cardContainer">
                <app-piece-card [allowEdit]="true"></app-piece-card>
            </div>
            <div class="col mb-5 cardContainer">
                <app-piece-card [allowEdit]="true"></app-piece-card>
            </div>
            <div class="col mb-5 cardContainer">
                <app-piece-card [allowEdit]="true"></app-piece-card>
            </div>
        </div>
    </div>
</div>