<div class="container text-end">
    <div class="row h-100 justify-content-center">

        <div class="card align-self-center">
            
        </div>
        
    </div>
    
    <span role="button">
        <fa-icon [icon]="faCircleArrowLeft" class="left-arrow" (click)="backclicked()">
            <a routerLink="/users"></a>
        </fa-icon>
    </span>

    <span role="button">
        <fa-icon [icon]="faCircleXMark" class="cross"></fa-icon>
    </span>

    <span role="button">
        <fa-icon [icon]="faCircleCheck" class="check"></fa-icon>
    </span>

    
</div>