.check{
    font-size: 80px;
    position: fixed;
    bottom: 0vmax;
    right: 0vmax;
    z-index: 1;
}
.square{
  height: 100px;
  width: 100px;
  background-color: #555;
}
.card{
    position:absolute;
    top: 30%;
    background: #f8f9fa;
    width: fit-content;
    height: fit-content;
}
.cross{
    font-size: 80px;
    position: fixed;
    left: 0vmax;
    bottom: 0vmax;
    padding: 10px 16px;
    z-index: 1;
}

