.check{
    font-size: 80px;
    position: fixed;
    bottom: 5vmax;
    right: 5vmax;
    padding: 10px 16px;
    z-index: 1;
}
.square{
  height: 100px;
  width: 100px;
  background-color: #555;
}
.card{
    position:absolute;
    top: 30%;
    background: #f8f9fa;
    width: fit-content;
    height: fit-content;
}
.cross{
    font-size: 80px;
    position: fixed;
    left: 5vmax;
    bottom: 5vmax;
    padding: 10px 16px;
    z-index: 1;
}

.btnOptionsHidden {
    visibility: hidden;
}

.container {
    height: calc(100vh + 250px);
}

.img { 
    height: 500px;
    width: 500px;
}

.canvaOff {
    height: 1000px;
}