<div class="d-flex {{ allowEdit ? 'hovered' : ''}}">
    <div class="card " style="width: 18rem;">
        <img src="{{piece?.photo}}"
            class="card-img-top" alt="...">
        <div class="card-body {{ allowEdit ? 'card-body-hovered' : ''}}">
            <p class="card-text">
                <strong>{{piece?.name}}</strong>
                Material: {{piece?.material}} - 
                Resistencia al aire: {{piece?.airResistance}}
            </p>
        </div>
    </div>
    <div class="btnMod mt-4 {{allowEdit ? '' : 'disable'}}">
        <div class="tagContainer text-center justify-content-center">
            <fa-icon [icon]="faDelete"></fa-icon>
        </div>
        <div class="tagContainer mt-5 text-center">
            <fa-icon [icon]="faEdit"></fa-icon>
        </div>  
    </div>
</div>