@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

.content {
    width: 100%;
}

.filter {
    padding-left: 25px;
}

.cards-scroller {
    overflow-y: scroll;
    position: relative;
    border: 5px;
    float: left;
}

.cards-scroller,
.work-space {
    background-image: url('/assets/images/plano-trabajo.jpg');
}

.col {
    border: hidden;
}

.row {
    padding: 0px;
    margin: 0px;
}

.work-space {
    overflow-y: scroll;
    position: relative;
    float: left;
    border: steelblue solid 1px;
    padding: 0px;
}

.modelo {
    margin: 0 auto;
    margin-top: 2%;
    padding-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

.modelo h2 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #1a3f72;
    background: rgba(255, 255, 255, .2);
    padding: 20px;
}

.button-confirmar,
.button-reestablecer {
    font-family: 'Poppins', sans-serif;
    color: #1a3f72;
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    margin-bottom: 15px;
    border-color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    max-width: 200px;
    max-height: 150px;
}

.cards-box {
    padding-top: 15px;
}

.contenedor-aspa,
.contenedor-cuerpo,
.contenedor-base {
    border: dashed #1a3f72 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {

    .modelo {
        max-width: 90%;
    }

    .modelo h2 {
        font-size: 18px;
        border-radius: 10px;
        max-width: 100px;
        padding: 10px;
    }

    .cards-scroller {
        width: 50%;
    }

    .work-space {
        width: 50%;
    }

    .contenedor-aspa,
    .contenedor-cuerpo,
    .contenedor-base {
        min-width: 100px;
        min-height: 100px;
    }

    .button-confirmar,
    .button-reestablecer {
        padding: 10px;
        font-size: 12px;
        max-width: 100px;
        max-height: 100px;
    }

}

@media only screen and (min-width: 768px) {

    .modelo {
        max-width: 70%;
    }

    .modelo h2 {
        font-size: 32px;
        border-radius: 10px;
        max-width: 300px;
    }

    .cards-scroller {
        width: 30%;
    }

    .work-space {
        width: 70%
    }

    .contenedor-aspa,
    .contenedor-cuerpo,
    .contenedor-base {
        min-width: 200px;
        min-height: 200px;
    }

}

@media only screen and (min-width: 1600px) {

    .modelo {
        max-width: 80%;
    }

    .cards-scroller {
        width: 20%;
    }

    .work-space {
        width: 80%;
    }

    .contenedor-aspa,
    .contenedor-cuerpo,
    .contenedor-base {
        min-width: 300px;
        min-height: 300px;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.contenedor-aspa,
.contenedor-base,
.contenedor-cuerpo .cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.transparent {
    background-color: 'white' !important;
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
 }
 
 .left-border-none {
    border-left: none !important;
    box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
 }
 
  .modal-content {
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
 
 .col {
    margin-bottom: 2px;
 }
 
 .cardContainer {
    height: 250px;
 }
 
 .plus{
    font-size: 60px;
    position: fixed;
    bottom: 0vmax;
    right: 0vmax;
    padding: 10px 16px;
    z-index: 1;
 }
 
 ::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 
 :-moz-placeholder {
   color: #879fa6 !important;
 }
 
 :-ms-input-placeholder {
   color: #879fa6 !important;
 }
 
 input, textarea, select, label {
   font-family: inherit;
   font-size: 12px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 .contact {
   position: relative;
   margin: 20px auto 30px;
   padding: 5px;
   width: 320px;
   border: 1px solid #cfd5da;
   border-bottom-color: #ccd1d6;
   border-radius: 3px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 }
 
 .contact-inner {
   padding: 25px;
   background: white;
   border-radius: 2px;
 }
 
 .contact:before, .contact:after, .contact-inner:before, .contact-inner:after {
   content: '';
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -6px;
   width: 1px;
   height: 1px;
   border: outset transparent;
   border-width: 12px 14px 0;
   border-top-style: solid;
   -webkit-transform: rotate(360deg);
 }
 
 .contact:before {
   margin-top: 1px;
   border-top-color: #d8e1e6;
 }
 
 .contact-inner:before {
   border-top-color: #ccd1d6;
 }
 
 .contact-inner:after {
   margin-top: -1px;
   border-top-color: #eef5f7;
 }
 
 .contact:after {
   margin-top: -8px;
   border-top-color: white;
 }
 
 .modal-input {
   overflow: hidden;
   margin-bottom: 20px;
   padding: 5px;
   border-radius: 2px;
 }
 
 .modal-input > input, .modal-input > textarea {
   display: block;
   width: 100%;
   height: 29px;
   padding: 0 9px;
   color: #4d5a5e;
   background: white;
   border: 1px solid #cfdfe3;
   border-bottom-color: #d2e2e7;
   border-radius: 2px;
   -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
 }
 
 .modal-input > input:focus, .modal-input > textarea:focus {
   outline: 0;
   -webkit-box-shadow: 0 0 0 8px #e1ecf5;
   box-shadow: 0 0 0 8px #e1ecf5;
 }
 
 .lt-ie9 .modal-input > input, .lt-ie9 .modal-input > textarea {
   line-height: 27px;
 }
 
 .modal-input > textarea {
   padding: 4px 8px;
   height: 90px;
   line-height: 20px;
   resize: none;
 }
 
 .select {
   display: block;
   position: relative;
   overflow: hidden;
   background: white;
   border: 1px solid #d2e2e7;
   border-bottom-color: #c5d4d9;
   border-radius: 2px;
   background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
   background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
   background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
   background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
 }
 
 .select:before, .select:after {
   content: '';
   position: absolute;
   right: 11px;
   width: 0;
   height: 0;
   border-left: 3px outset transparent;
   border-right: 3px outset transparent;
 }
 
 .select:before {
   top: 10px;
   border-bottom: 3px solid #7f9298;
 }
 
 .select:after {
   top: 16px;
   border-top: 3px solid #7f9298;
 }
 
 .select > select {
   position: relative;
   z-index: 2;
   width: 112%;
   height: 29px;
   line-height: 17px;
   padding: 5px 9px;
   padding-right: 0;
   color: #80989f;
   background: transparent;
   background: rgba(0, 0, 0, 0);
   border: 0;
   -webkit-appearance: none;
 }
 
 .select > select:focus {
   color: #4d5a5e;
   outline: 0;
 }
 
 .contact-submit {
   text-align: right;
   padding-left: 105px;
 }
 
 .cancel {
    text-align:left;
 }
 
 #customFile1{
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 2px;
    display: block;
    border-width: 3px;
 }
 
 #contact-submit > input {
   display: inline-block;
   vertical-align: top;
   padding: 0 14px;
   height: 29px;
   font-weight: bold;
   color: #729fb2;
   text-shadow: 0 1px rgba(255, 255, 255, 0.5);
   background: #deeef4;
   border: 1px solid #bed6e3;
   border-bottom-color: #accbd9;
   border-radius: 15px;
   cursor: pointer;
   background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
   background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
   background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
   background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
   -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
 }
 
 #contact-submit > input:active {
   color: #6a95a9;
   text-shadow: 0 1px rgba(255, 255, 255, 0.3);
   background: #c9dfe9;
   border-color: #a3bed0 #b5ccda #b5ccda;
   -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
 }
 
 .container{
     flex-wrap: wrap;
 }
 .card{
     border: none;
     border-radius: 10px;
     background-color: #4270C8;
     width: 350px;
     margin-top: -60px;
 }
 p.mb-1{
     font-size: 25px;
 }
 .btn-primary{
     border: none;
     background: #5777DE;
     margin-bottom: 60px;
 }
 .btn-primary small{
     color: #9FB7FD;
 }
 .btn-primary span{
     font-size: 13px;
 }
 /***card-two****/
 .card.two{
     border-top-right-radius: 60px;
     border-top-left-radius: 0;
 }
 .form-group {
     position: relative;
     margin-bottom: 2rem;
 }
 
 .form-control {
     border: none;
     border-radius: 0;
     outline: 0;
     border-bottom: 1.5px solid #E6EBEE;
 }
 
 .form-control:focus {
     box-shadow: none;
     border-radius: 0;
     border-bottom: 2px solid #8A97A8;
 }
 
 .form-control-placeholder {
     position: absolute;
     top: 15px;
     left: 10px;
     transition: all 200ms;
     opacity: 0.5;
     font-size: 80%;
 }
 
 .form-control:focus+.form-control-placeholder,
 .form-control:valid+.form-control-placeholder {
     font-size: 80%;
     transform: translate3d(0, -90%, 0);
     opacity: 1;
     top: 10px;
     color: #8B92AC;
 }
 .btn-block{
     border: none;
     border-radius: 8px;
     background-color: #506CCF;
     padding: 10px 0 12px;
 }
 .btn-block:focus{
     box-shadow: none;
 }
 .btn-block span{
     font-size: 15px;
     color: #D0E6FF;
 }body{
     background-color: #EBEAEF;
 }
 .container{
     flex-wrap: wrap;
 }
 .card{
     border: none;
     border-radius: 10px;
     background-color: rgb(7, 193, 171);
     width: 350px;
     margin-top: -60px;
 }
 p.mb-1{
     font-size: 25px;
     color: #9FB7FD;
 }
 .btn-primary{
     border: none;
     background: rgb(7, 193, 171);
     margin-bottom: 60px;
 }
 .btn-primary small{
     color: #9FB7FD;
 }
 .btn-primary span{
     font-size: 13px;
 }
 /***card-two****/
 .card.two{
     border-top-right-radius: 60px;
     border-top-left-radius: 0;
 }
 .form-group {
     position: relative;
     margin-bottom: 2rem;
 }
 
 .form-control {
     border: none;
     border-radius: 0;
     outline: 0;
     border-bottom: 1.5px solid #E6EBEE;
 }
 
 .form-control:focus {
     box-shadow: none;
     border-radius: 0;
     border-bottom: 2px solid #8A97A8;
 }
 
 .form-control-placeholder {
     position: absolute;
     top: 15px;
     left: 10px;
     transition: all 200ms;
     opacity: 0.5;
     font-size: 80%;
 }
 
 .form-control:focus+.form-control-placeholder,
 .form-control:valid+.form-control-placeholder {
     font-size: 80%;
     transform: translate3d(0, -90%, 0);
     opacity: 1;
     top: 10px;
     color: #8B92AC;
 }
 .btn-block{
     border: none;
     border-radius: 8px;
     background-color: rgb(7, 193, 171);
     padding: 10px 0 12px;
 }
 .btn-block:focus{
     box-shadow: none;
 }
 .btn-block span{
     font-size: 15px;
     color: #D0E6FF;
 }
 #addModal {
   background: none;
 }