<div class="dashboard scroller">
    <div class="row form-group">
        <div class="col cardContainer">
            <app-piece-card></app-piece-card>
        </div>
    </div>
    <div class="row form-group">
        <div class="col cardContainer">
            <app-piece-card></app-piece-card>
        </div>
    </div>
    <div class="row form-group">
        <div class="col cardContainer">
            <app-piece-card></app-piece-card>
        </div>
    </div>
    <div class="row form-group">
        <div class="col cardContainer">
            <app-piece-card></app-piece-card>
        </div>
    </div>
</div>