<div class="content">
    <div class="cards-scroller vh-100">
        <div class="row form-group text-center" cdkDropListGroup>
            <div cdkDropList #aspas="cdkDropList" [cdkDropListData]="aspasDisponibles" [cdkDropListConnectedTo]="[aspa]"
                class="cards">
                <div class="cards-box" *ngFor="let aspa of aspasDisponibles" cdkDrag>
                    <app-piece-card [piece]="aspa"></app-piece-card>
                </div>
            </div>
            <div cdkDropList #cuerpos="cdkDropList" [cdkDropListData]="cuerposDisponibles"
                [cdkDropListConnectedTo]="[cuerpo]" class="cards">
                <div class="cards-box" *ngFor="let cuerpo of cuerposDisponibles" cdkDrag>
                    <app-piece-card [piece]="cuerpo"></app-piece-card>
                </div>
            </div>
            <div cdkDropList #bases="cdkDropList" [cdkDropListData]="basesDisponibles" [cdkDropListConnectedTo]="base"
                class="cards">
                <div class="cards-box" *ngFor="let base of basesDisponibles" cdkDrag>
                    <app-piece-card [piece]="base"></app-piece-card>
                </div>
            </div>
        </div>
    </div>
    <div class="work-space vh-100">
        <div class="row text-center">
            <div class="col-12 align-self-center">
                <div class="modelo">
                    <h2>Aspa</h2>
                    <div class="container contenedor-aspa" cdkDropList #aspa="cdkDropList"
                        [cdkDropListData]="aspaSeleccionada" (cdkDropListDropped)="drop($event, aspaSeleccionada)">
                        <div class="aspaSeleccionada" *ngIf="aspaSeleccionada[0] != null">
                            <app-piece-card [piece]="aspaSeleccionada[0]"></app-piece-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-center">
                <div class="modelo">
                    <h2>Cuerpo</h2>
                    <div class="container contenedor-cuerpo" cdkDropList #cuerpo="cdkDropList"
                        [cdkDropListData]="cuerpoSeleccionado" (cdkDropListDropped)="drop($event, cuerpoSeleccionado)">
                        <div class="aspaSeleccionada" *ngIf="cuerpoSeleccionado[0] != null">
                            <app-piece-card [piece]="cuerpoSeleccionado[0]"></app-piece-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-center">
                <div class="modelo">
                    <h2 class="text">Base</h2>
                    <div class="container contenedor-base" cdkDropList #base="cdkDropList"
                        [cdkDropListData]="baseSeleccionada" (cdkDropListDropped)="drop($event, baseSeleccionada)">
                        <div class="aspaSeleccionada" *ngIf="baseSeleccionada[0] != null">
                            <app-piece-card [piece]="baseSeleccionada[0]"></app-piece-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-evenly">
                <div class="col-auto me-auto">
                    <button class="button-reestablecer" (click)="reestablecer()">Resetear</button>
                </div>
                <div class="col-auto">
                    <button class="button-confirmar" (click)="open(mymodal)">Confirmar Molino</button>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #mymodal let-modal>
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-between">
            <div class="card mt-3 p-5">
            </div>
            <div class="card two bg-white px-5 py-4 mb-3">
                <div class="form-group"><input #nameInput class="form-control"><label class="form-control-placeholder">Name</label></div>
                <div class="form-group"><input #descriptionInput type="text" class="form-control"><label class="form-control-placeholder">Description</label></div>               
                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2" (click)="comenzarArmado(nameInput.value, descriptionInput.value); modal.close()">
                  <span>Create Prototype<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
                </button>
            </div>
        </div>
    </div>
</ng-template>