<div *ngIf="router.url !== '/login'">
  <nav>
    <div class="container-fluid">
      <ul>
        <a href="/">
          <img height="50px" src="https://actividades.ucu.edu.uy/ipo/static/Resources/UCU/Logo_Texto_Blanco.png" class="logo" title="Imagen Ucu"/>
        </a>
        <li><a href="http://localhost:4200/works">Works</a></li>
        <li><a href="http://localhost:4200/pieces">Pieces</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
          <fa-icon type="button" [icon]="faRightFromBracket" class="icon" (click)="logout()"></fa-icon>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>  
    </nav>
</div>
