<div class="container text-center">
    <div class="row justify-content-center">
        <div class="card align-self-center vertical-center">

            <div class="row item mt-3">
                <h1>Restablecer contraseña</h1>
            </div>

            <div class="row item">
                <div class="input-group input-group-lg">
                    <span class="input-group-text">Correo electrónico</span>
                    <input #emailInput type="email" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg" required="required">
                </div>
            </div>

            <div class="item ">
                <button type="button" class="btn btn-primary btnLogin" (click)="sendEmail(emailInput.value)">
                    Restablecer
                </button>
            </div>
            <div class="item col-8">
            </div>
        </div>

    </div>
</div>