<div class="row justify-content-center">
    <div class="card mb-3" style="width: 1000px;">
        <div class="row no-gutters">
            <div class="col">
                <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
                    (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let img of imagesToShow; index as i">
                            <div class="picsum-img-wrapper">
                                <img [src]="img" class="card-img" />
                            </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6" routerLink="/prototype-detail/{{windmill?._id}}" type="button">
                <div class="card-body">
                    <h3 class="card-title">{{windmill?.name}}</h3>
                    <p class="card-text">{{windmill?.description}}</p>
                    <p class="card-text"><small class="text-muted">{{windmill?.creator}}</small></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row text-center">
                    <span (click)="rechazar()">
                        <fa-icon [icon]="faWrong" class="icon wrong mt-2" type="button"></fa-icon>
                    </span>
                    <span (click)="aprobar()">
                        <fa-icon [icon]="faCheck" class="icon check mt-3 mb-2" type="button"></fa-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>