<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre {{user!.name}}</h5>
    <p class="card-text" *ngIf="user!.role === 1">Usuario</p>
    <p class="card-text" *ngIf="user!.role === 2">Auditor</p>
    <p class="card-text" *ngIf="user!.role === 3">Administrador</p>
    <a class="btn btn-warning" (click)="open(mymodal)">Editar</a>
    <a class="btn btn-danger ms-4" (click)="deleteUser()">Eliminar</a>
  </div>
</div>



<div>
  <div class="row" id="lista">
  </div>
  
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear Usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <input #nameInput type="text" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg" placeholder="Name" required="required">
    <input #passwordInput type="password" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg" placeholder="Password" required="required">
    <input #password2Input type="password" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg" placeholder="Confirm password" required="required">
    <input #roleInput type="text" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg" placeholder="Role" required="required">
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
      <button type="button" class="btn btn-primary" id="addUserButton" (click)="editUser(nameInput.value, passwordInput.value, password2Input.value, roleInput.value)">Crear</button>
    </div>
  </ng-template>
  
</div>