$box_width : 250px;
$box_height : 350px;
$box_bRadius : 10px;
$box_background : white;
$box_shadow : 0px 0px 10px rgba(0,0,0,0.2);
$text_color: black;
$links_color: #626262;
$bottom_box_bg : #F5F5F5;


@mixin createBox($width, $height, $radius, $background, $shadow) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $background;
  box-shadow: $shadow;
}

body{
  background-color: #E6E6E6;
  font-family: Roboto, sans-serif;
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  .box{
    position: relative;
    @include createBox($box_width, $box_height, $box_bRadius, $box_background, $box_shadow);
    .top{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50%;
      border-top-left-radius: $box_bRadius;
      border-top-right-radius: $box_bRadius;
      #star{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 75%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: .5s;
        text-decoration: none;
        z-index: 3;

        &:hover{
          box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
          background-color: white;
          .ico{
            color: #FFAE00;
          }
        }

        .ico{
          text-align: center;
          font-size: 18px;
          color: $links_color;   
          transition: .5s;
        }

      }

      .profile, .title, .job{
        margin: 5px;
      }

      .profile{
        width: 80px;
        height: 80px;
        border: 4px solid white;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        border-radius: 45%;
        background-image: url("https://cdn-icons-png.flaticon.com/512/1946/1946369.png");
        background-size: 72px 72px;
        z-index: 2;
      }

      .title{
        font-size: 18px;
        font-weight: 700;
      }

      .job {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .bottom{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 50%;
      background-color: $bottom_box_bg;
      border-bottom-left-radius: $box_bRadius;
      border-bottom-right-radius: $box_bRadius;

      .links ul{
        text-align: center;
        li{
          padding: 5px;
        }
        a{
          color: $links_color;
          font-size: 15px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
        .green{
          color: #50E3B3;
          font-size: 15px;
          padding-right: 5px;
        }

      }
      .social-links ul{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 60px;
        li{
          padding: 10px;
          font-size: 24px;
          a{
            color: $links_color;
          }
        }
      }
    }

    // Star on hover
    .hover-box {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: .5s ease;
      background-color: #FDF4DA;
      border-radius: 10px;
      opacity: 0;
      z-index: -1;
      .text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
        h1{
          color : #574A21;
          line-height: 1.5;
          font-weight: 400;
          font-size: 22px;
        }
      }
    }
  }
}

#delete{
  padding-left: 20px;
  text-align:left;
}

#edit{
  text-align:right;
  padding-left: 180px;
}

.transparent {
  background-color: 'white' !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
}

.left-border-none {
  border-left: none !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, .075);
}

.modal-content {
  position: relative;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.col {
  margin-bottom: 2px;
}

.cardContainer {
  height: 250px;
}

.plus{
  font-size: 60px;
  position: fixed;
  bottom: 0vmax;
  right: 0vmax;
  padding: 10px 16px;
  z-index: 1;
}

::-moz-focus-inner {
 padding: 0;
 border: 0;
}

:-moz-placeholder {
 color: #879fa6 !important;
}

:-ms-input-placeholder {
 color: #879fa6 !important;
}

input, textarea, select, label {
 font-family: inherit;
 font-size: 12px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.contact {
 position: relative;
 margin: 20px auto 30px;
 padding: 5px;
 width: 320px;
 border: 1px solid #cfd5da;
 border-bottom-color: #ccd1d6;
 border-radius: 3px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.contact-inner {
 padding: 25px;
 background: white;
 border-radius: 2px;
}

.contact:before, .contact:after, .contact-inner:before, .contact-inner:after {
 content: '';
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -6px;
 width: 1px;
 height: 1px;
 border: outset transparent;
 border-width: 12px 14px 0;
 border-top-style: solid;
 -webkit-transform: rotate(360deg);
}

.contact:before {
 margin-top: 1px;
 border-top-color: #d8e1e6;
}

.contact-inner:before {
 border-top-color: #ccd1d6;
}

.contact-inner:after {
 margin-top: -1px;
 border-top-color: #eef5f7;
}

.contact:after {
 margin-top: -8px;
 border-top-color: white;
}

.modal-input {
 overflow: hidden;
 margin-bottom: 20px;
 padding: 5px;
 border-radius: 2px;
}

.modal-input > input, .modal-input > textarea {
 display: block;
 width: 100%;
 height: 29px;
 padding: 0 9px;
 color: #4d5a5e;
 background: white;
 border: 1px solid #cfdfe3;
 border-bottom-color: #d2e2e7;
 border-radius: 2px;
 -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
}

.modal-input > input:focus, .modal-input > textarea:focus {
 outline: 0;
 -webkit-box-shadow: 0 0 0 8px #e1ecf5;
 box-shadow: 0 0 0 8px #e1ecf5;
}

.lt-ie9 .modal-input > input, .lt-ie9 .modal-input > textarea {
 line-height: 27px;
}

.modal-input > textarea {
 padding: 4px 8px;
 height: 90px;
 line-height: 20px;
 resize: none;
}

.select {
 display: block;
 position: relative;
 overflow: hidden;
 background: white;
 border: 1px solid #d2e2e7;
 border-bottom-color: #c5d4d9;
 border-radius: 2px;
 background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
 background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
 background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
 background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
 -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.select:before, .select:after {
 content: '';
 position: absolute;
 right: 11px;
 width: 0;
 height: 0;
 border-left: 3px outset transparent;
 border-right: 3px outset transparent;
}

.select:before {
 top: 10px;
 border-bottom: 3px solid #7f9298;
}

.select:after {
 top: 16px;
 border-top: 3px solid #7f9298;
}

.select > select {
 position: relative;
 z-index: 2;
 width: 112%;
 height: 29px;
 line-height: 17px;
 padding: 5px 9px;
 padding-right: 0;
 color: #80989f;
 background: transparent;
 background: rgba(0, 0, 0, 0);
 border: 0;
 -webkit-appearance: none;
}

.select > select:focus {
 color: #4d5a5e;
 outline: 0;
}

.contact-submit {
 text-align: right;
 padding-left: 105px;
}

.cancel {
  text-align:left;
}

#customFile1{
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 2px;
  display: block;
  border-width: 3px;
}

#contact-submit > input {
 display: inline-block;
 vertical-align: top;
 padding: 0 14px;
 height: 29px;
 font-weight: bold;
 color: #729fb2;
 text-shadow: 0 1px rgba(255, 255, 255, 0.5);
 background: #deeef4;
 border: 1px solid #bed6e3;
 border-bottom-color: #accbd9;
 border-radius: 15px;
 cursor: pointer;
 background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
 background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
 background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
 background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
 -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
 box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
}

#contact-submit > input:active {
 color: #6a95a9;
 text-shadow: 0 1px rgba(255, 255, 255, 0.3);
 background: #c9dfe9;
 border-color: #a3bed0 #b5ccda #b5ccda;
 -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
 box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}

.container{
 flex-wrap: wrap;
}
.card{
 border: none;
 border-radius: 10px;
 background-color: #4270C8;
 width: 350px;
 margin-top: -60px;
}
p.mb-1{
 font-size: 25px;
}
.btn-primary{
 border: none;
 background: #5777DE;
 margin-bottom: 60px;
}
.btn-primary small{
 color: #9FB7FD;
}
.btn-primary span{
 font-size: 13px;
}
/***card-two****/
.card.two{
 border-top-right-radius: 60px;
 border-top-left-radius: 0;
}
.form-group {
   position: relative;
   margin-bottom: 2rem;
}

.form-control {
   border: none;
   border-radius: 0;
   outline: 0;
   border-bottom: 1.5px solid #E6EBEE;
}

.form-control:focus {
   box-shadow: none;
   border-radius: 0;
   border-bottom: 2px solid #8A97A8;
}

.form-control-placeholder {
   position: absolute;
   top: 15px;
   left: 10px;
   transition: all 200ms;
   opacity: 0.5;
   font-size: 80%;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
   font-size: 80%;
   transform: translate3d(0, -90%, 0);
   opacity: 1;
   top: 10px;
   color: #8B92AC;
}
.btn-block{
 border: none;
 border-radius: 8px;
 background-color: #506CCF;
 padding: 10px 0 12px;
}
.btn-block:focus{
 box-shadow: none;
}
.btn-block span{
 font-size: 15px;
 color: #D0E6FF;
}body{
 background-color: #EBEAEF;
}
.container{
 flex-wrap: wrap;
}
.card{
 border: none;
 border-radius: 10px;
 background-color: rgb(7, 193, 171);
 width: 350px;
 margin-top: -60px;
}
p.mb-1{
 font-size: 25px;
 color: #9FB7FD;
}
.btn-primary{
 border: none;
 background: rgb(7, 193, 171);
 margin-bottom: 60px;
}
.btn-primary small{
 color: #9FB7FD;
}
.btn-primary span{
 font-size: 13px;
}
/***card-two****/
.card.two{
 border-top-right-radius: 60px;
 border-top-left-radius: 0;
}
.form-group {
   position: relative;
   margin-bottom: 2rem;
}

.form-control {
   border: none;
   border-radius: 0;
   outline: 0;
   border-bottom: 1.5px solid #E6EBEE;
}

.form-control:focus {
   box-shadow: none;
   border-radius: 0;
   border-bottom: 2px solid #8A97A8;
}

.form-control-placeholder {
   position: absolute;
   top: 15px;
   left: 10px;
   transition: all 200ms;
   opacity: 0.5;
   font-size: 80%;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
   font-size: 80%;
   transform: translate3d(0, -90%, 0);
   opacity: 1;
   top: 10px;
   color: #8B92AC;
}
.btn-block{
 border: none;
 border-radius: 8px;
 background-color: rgb(7, 193, 171);
 padding: 10px 0 12px;
}
.btn-block:focus{
 box-shadow: none;
}
.btn-block span{
 font-size: 15px;
 color: #D0E6FF;
}